.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.header-title,
.header-subtitle {
  text-align: center;
}
/* Estilos para pantallas móviles  */
@media (max-width: 768px) {
  .header-title {
    font-size: 2.4rem;
  }

  .header-subtitle {
    font-size: 1.1rem;
  }
}
